*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    box-sizing: border-box ;
}
.body{
    margin-top:60px;
    font-size: 14px;
}
a{
    font-size: 12px;
}

.container{
    margin: 0 10px;
}
header{
    display: grid;
    border-bottom: 1px solid #edebe9;
    grid-template-columns: 1fr 2.5fr;
    height: 60px;
    position: fixed;
    width: 100%; 
    top: 0; 
    background: white;
    z-index: 1000; 
}
.logo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}
.search{
    display: inline;
}
.search input{
    border: none;
    width: 80px;
    background: #EBEBEB;
    border-radius: 5px;
    padding: 2px 30px 2px 5px;
}
.go-to{
    display: flex;
    align-items: center;
    justify-content: end;
    margin-right: 20px;
}
.go-to a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    border-radius: 20px;
    padding: 7px 12px;
}
.body{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
aside {
    position: fixed;
    top: 60px; 
    border-right: 1px solid #edebe9;
    width: 25%;
    height: calc(100% - 60px); 
    background: white;
    z-index: 999; 
}
aside li{
    margin: 2px;
    padding: 8px 55px;
    border-bottom: 1px solid #edebe9;
    list-style-type: none;
}
aside li:hover{
    background: #FAE9EC;
    cursor: pointer;
    border-radius: 7px;
}
main{
    height: 1000px;
}
.bgimg{
    position: absolute;
    top: 60px;
    left: 40%;
    z-index: 1;
    width: 650px;
}
article{
    position: absolute;
    z-index:5;
    top: 60px;
    left: 30%;
    padding-top: 100px;
    width: 70% ;
    color : #292929;
}
article h1{
    font-size: 100px;
    margin-bottom: 25px;
}
article h3{
    font-size: 18px;
    font-weight: 400;
}
article h3:nth-of-type(2){
    font-size: 25px;
}
article button{
    margin: 50px 0;
    border-radius: 10px;
    padding: 7px 17px;
    color: white;
    background: #292929;
    border: none;
}
.new{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
.design , .develop{
    background: white;
    display: flex;
    padding: 25px;
    border: 1px solid #edebe9;
    border-radius: 10px;
    width: 40%;
    margin: 15px;
    transition: border-color 0.5s ease;
}
.design a,.develop a{
    display: none;
    margin-top: 10px;
    color: #F45A38;
    text-decoration: underline;
}
.design:hover , .develop:hover{
    border: 1px solid #F45A38;
}
.design:hover a, .develop:hover a{
    display: block;
}

.new img{
    width: 80px;
    margin: 0 15px;
}



@media (max-width:768px){
    .search input{
    display: none;   
}
header{
    grid-template-columns: 1fr 2.5fr;
    height: 60px;
}
.body{
    display: flex;
    flex-direction: column;
}
aside{
    position: inherit;
    margin-bottom: 12px;
    width: 100%;
    text-align: center;
}
aside li{
    display: inline;
    padding: 0px 5px;
    border: none;
}
.bgimg{
    position: inherit;
}
article{
    left: 5%;
    width: 90%;
}
article h1{
    font-size: 80px;
    margin-bottom: 20px;
}

.new{
    flex-direction: column;
    align-items: center;
}
.design , .develop{
    padding: 20px;
    width: 80%;
    margin: 10px;
}

}